/* {
    box-sizing: border-box;
}*/

/*All*/
html {
    background: url('/Projects/Eds-portfolio/assets/images/backgroundimg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.x-button {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 50%
}

h2 {
    font-size: 18px;
    margin-bottom: 0px;
}
.about-header, .projects-header, .contact-header {
    font-size: 20px;
    letter-spacing: .2em;
}

/*home page*/
.logo {
    font-family: 'Marck Script', cursive;
    margin: 100px auto 0 auto;
    padding: 15px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    opacity: .8;
}

.logo-text{
    position: absolute;
    top: 90px;
    color: white;
    font: bold;
}

.top-mid-border {
    border-right: 2px solid white;
    width: 50%;
    height: 100px;
}

.home-container{
    width: 90%;
    border-top: 2px solid white;
    margin: 0px auto;
    text-align: center;
}

.name-headline-container {
   width: 100%;
   border-bottom: 2px solid white;
   padding: 50px 0;
   color: black;
   font-size: 16px;
}

li {
    display: inline-block;
    width: 120px;
    border-left: 2px solid white;
    text-align: center;
    padding: 0;
    margin: 0;
}

li:first-child {
    border-left: none;
}

ul {
    width: fit-content;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    border: 2px solid white;
}

.bottom-mid-border {
    border-right: 2px solid white;
    width: calc(50% + 1px);
    height: 125px;
}

.home-button {
    font-size: 16px;
    padding: 15px;
    border: none;
    width: 100%;
    color: white;
    opacity: .9;
    background: none;
    /*border-radius: 5px;*/
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

/*projects page*/
.projects-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid black;
    background: rgba(27, 31, 34, 0.8);
    border-radius: 5px;
    
}

.projects-header {
    margin: 75px 0 0 10%;
    text-decoration: underline;
    width: fit-content;
}

/*for functionality for wireframe - will use js in full*/
.home-x-button-projects {
    position: absolute;
    top: 65px;
    right: 20.5%;
}

img {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 1%;
}

.project-text {
    display: block;
    width: 80%;
    margin: 20px auto;
    line-height: 1.5em;
    font-weight: 300;
}

.logos {
    display: block;
    width: 100%;
    margin-left: -1.2%;
    height: 60px;
}

.css3-logo, .js-logo, .html-logo {
    display: inline-block;
    width: 28px;
    height: 30px;
}

.css3-logo {
    position: relative;
    top: .5px;
}

.html-logo {
    height: 34.5px;
    width: 30px;
    position: relative;
    top: 2.5px;
}

.js-logo {
    width: 21px;
    height: 33px;
    position: relative;
    top: 1.57px;
    left: 3px;
}

.project-description {
    font-size: 16px;
    margin-top: 0;
}

.projects-button {
    font-size: 16px;
    padding: 12px;
    border-radius: 3px;
    width: 116.5px;
    opacity: .8;
    background: none;
    color: white;
}

/*about page*/
.about-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid black;
    background: rgba(27, 31, 34, 0.8);
    border-radius: 5px;
    min-height: 500px;
}

.about-header {
    margin: 75px 0 0 10%;
    text-decoration: underline;
}

.home-x-button-about {
    position: absolute;
    top: 65px;
    right: 20.5%;
}

.about-text {
    display: block;
    width: 80%;
    margin: 20px auto;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 300;
}

/*contact page*/
.contact-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid black;
    background-color: aliceblue;
    background: rgba(27, 31, 34, 0.8);
    border-radius: 5px;
    min-height: 500px;
}

.contact-header {
    margin: 75px 0 0 10%;
    text-decoration: underline;
}

.home-x-button-contact {
    position: absolute;
    top: 65px;
    right: 20.5%;
}

.contact-text {
    display: block;
    width: 80%;
    margin: 20px auto;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 300;
}

span a {
    color: white;
}

span a:hover {
    color: rgb(218, 91, 91);
}

/*buttons responsiveness*/
.home-button:hover, .x-button:hover  {
    background-color: rgba(255, 255, 255, 0.507);
    cursor: pointer;
}

.home-button {
    width: 104%;
}

.home-button.last {
    width: 100%;
}

.projects-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.507);
}

/*ALL responsive design*/ 
@media screen and (max-width: 530px) {
    li {
        display: block;
        border-left: none;
        border-top: 2px solid white;
    }
}


@media screen and (max-width: 651px) {
    li:first-child {
        border-top: none;
    }

    .about-container, .projects-container, .contact-container {
        width: 95%;
    }

    .home-x-button-about, .home-x-button-contact, .home-x-button-projects {
        position: absolute;
        right: 6%;
        top: 65px;
    }
}

@media screen and (min-width: 1050px) {
    .home-container {
        width: 55%;
    }
}

